/* --- RESET GLOBAL --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- BASE GENERAL --- */
html {

  font-size: 16px;         /* base para rem */
  font-family: sans-serif;
}


/* CUERPO */
body{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* imagen de fondo */
  background: url(img/fondo.png) center;
}
.container{
  width: 300px;
 
  /* EFECTO GLASS */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 5px;
}
.text-center{
  text-align: center;
}
form{
}