/* --- RESET GLOBAL --- */
* {
  box-sizing: border-box;
}

/* --- BASE GENERAL --- */
html {

  font-size: 16px;         /* base para rem */
  font-family: "Open sans", sans-serif;
}


/* CUERPO */
body{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* imagen de fondo */
  background: url(../img/fondo.png);
   background-size: cover; /* Para que la imagen cubra toda la página */
  background-repeat: no-repeat; /* Para que la imagen no se repita */
}
.container{
  width: 400px;
 
  /* EFECTO GLASS */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  
  border: 1px solid rgba(255, 255, 255, 0.622);
  padding: 16px;

  
 
}

.container form{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.text-center{
  text-align: center;
}


.text-white{
  color: rgb(54, 79, 111);
}

input{
  border-radius: 10px;
  padding: 7px 20px;
  border: 1px solid rgb(16, 100, 100);
}

.btn{
  background-color: rgb(94, 110, 99);
  color: white;
  transition: .3s all;
}

.btn:hover{
  background-color: rgb(110, 134, 118);

  
  cursor: pointer;
  padding: 8px;
}

a{
  text-decoration: none;
}

/* solo aplicara cuando la pantalla es menor a 600px */
@media (max-width: 600px) {
  .container {
    width: 300px;
    
  }
}

@media (max-width: 300px) {
  .container {
    width: 100px;
    
  }
}